/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
*::before,
*::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/* ----- REPLACE STRING ----- */
/* ------ GAMEBOY COLOR PALETTE MAKER ------ */
/* ------ GAMEBOY DARK HUE MAKER -------- */
/* ------ GAMEBOY LIGHT HUE MAKER -------- */
/* ------ FULL STEP COLOR SWAPPER ------ */
/* ------- SIMPLE GRADIENT ------- */
/* ----- DARK MODE ----- */
/* ----- LIGHT MODE ----- */
/* ----- SPECIAL COLORS ----- */
/* ----- GENERAL COLORS ----- */
/* ----- DEFAULT ROLE COLORS ----- */
/* ----- SPECIAL COLORS ----- */
/* ----- GENERAL COLORS ----- */
/* ----- DEFAULT ROLE COLORS ----- */
:root {
  --font: Yu Gothic UI Light;
  --font-japanese: Yu Gothic UI Light;
  --settingsicons: 1;
  --accentcolor: rgb(74, 104, 143);
  --accentcolor2: rgb(130, 78, 128);
  --linkcolor: rgb(83, 117, 130);
  --mentioncolor: #b39a6f;
  --successcolor: #6b8f76;
  --warningcolor: rgb(204, 187, 157);
  --dangercolor: #8c4849;
  --textbrightest: #f0cfc0;
  --textbrighter: rgb(214, 187, 174);
  --textbright: rgb(189, 177, 172);
  --textdark: rgb(128, 116, 111);
  --textdarker: rgb(89, 84, 81);
  --textdarkest: #474341;
  --backgroundaccent: #323232;
  --backgroundprimary: #3c3836;
  --backgroundsecondary: #282828;
  --backgroundsecondaryalt: #232323;
  --backgroundtertiary: #232323;
  --backgroundfloating: #232323;
}

/* ----- SPECIAL COLORS ----- */
/* ----- GENERAL COLORS ----- */
/* ----- SPECIAL COLORS ----- */
/* ----- GENERAL COLORS ----- */
main[site_theme=none] {
  --bg-900: #121212;
  --bg-800: #181818;
  --bg-700: #282828;
  --accent: #329672;
  --color: #aaaaaa;
  --link: #329672;
  --link-h: #1abc9c;
}

main[site_theme=coffee] {
  --bg-900: #232323;
  --bg-800: #282828;
  --bg-700: #3c3836;
  --accent: #e91e63;
  --color: #f0cfc0;
  --link: #537582;
  --link-h: #6f95a4;
  --fav-r: #8c4849;
  --fav-g: #6b8f76;
  --fav-y: #b39a6f;
}
main[site_theme=coffee] .rater {
  --star-color: var(--fav-y);
}

main[site_theme=retro] {
  --bg-900: #282828;
  --bg-800: #32302f;
  --bg-700: #3c3836;
  --accent: #98971a;
  --color: #bdae93;
  --link: #689d6a;
  --link-h: #8ec07c;
  --fav-g: #b8bb26;
  --fav-y: #fabd2f;
  --fav-r: #fb4934;
  --cBorderRadius: 0;
}
main[site_theme=retro] .rater {
  --star-color: var(--fav-y);
}

main[site_theme=night] {
  --bg-900: #1d1920;
  --bg-800: #221d26;
  --bg-700: #372f3d;
  --accent: #d292f4;
  --color: #fcfafc;
  --link: #9c92f4;
  --link-h: #c4bff7;
  --fav-g: #78bc78;
  --fav-y: #cece4e;
  --fav-r: #be6666;
}
main[site_theme=night] .rater {
  --star-color: var(--fav-y);
}

main[site_theme=twitter] {
  --bg-900: #141d26;
  --bg-800: #1b2836;
  --bg-700: #2c3e47;
  --accent: #2ee0ef;
  --color: white;
  --link: #2ee0ef;
  --link-h: #bffaff;
  --fav-g: #77b255;
  --fav-y: #ffac33;
  --fav-r: #e1285c;
}
main[site_theme=twitter] .rater {
  --star-color: var(--fav-y);
}

main[site_theme=pink] {
  --bg-900: #831843;
  --bg-800: #9d174d;
  --bg-700: #be185d;
  --accent: #22c55e;
  --color: #fce7f3;
  --link: #22c55e;
  --link-h: #4ade80;
  --fav-g: #34d399;
  --fav-y: #fbbf24;
  --fav-r: #c084fc;
}
main[site_theme=pink] .rater {
  --star-color: var(--fav-y);
}

main[site_theme=halloween] {
  --bg-900: #121212;
  --bg-800: #181818;
  --bg-700: #282828;
  --accent: #a855f7;
  --color: #f97316;
  --link: #a855f7;
  --link-h: #c084fc;
  --fav-r: #ef4444;
  --fav-g: #22c55e;
  --fav-y: #eab308;
}
main[site_theme=halloween] .rater {
  --star-color: var(--fav-y);
}

main[site_theme=christmas] {
  --bg-900: #064e3b;
  --bg-800: #065f46;
  --bg-700: #047857;
  --accent: #ef4444;
  --color: #d1fae5;
  --link: #e5e5e5;
  --link-h: #f5f5f5;
  --fav-g: #4ade80;
  --fav-y: #facc15;
  --fav-r: #f87171;
}
main[site_theme=christmas] .contentWrapper a {
  text-decoration: underline;
}
main[site_theme=christmas] .rater {
  --star-color: var(--fav-y);
}

main {
  min-height: 100vh;
  overflow: hidden;
}
main * {
  color: #aaaaaa;
  font-family: Meiryo;
}

.container {
  height: 100%;
  width: 100%;
  background-color: #121212;
  display: grid;
  grid-template-columns: repeat(20, 1fr);
  grid-template-rows: repeat(20, 1fr);
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  padding: 1rem;
}

.profile {
  height: 100%;
  background-color: #181818;
  border: 1px solid #282828;
  grid-area: 1/1/21/8;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  padding-top: 7.5%;
  align-items: center;
  gap: 2rem;
}
.profile img {
  object-fit: contain;
  width: 90%;
  border: 1px solid #282828;
}
.profile span#artist {
  text-transform: capitalize;
}
.profile a {
  color: #329672;
}
.profile a:hover {
  color: #1abc9c;
}

.moodPreview {
  height: 100%;
  background-color: #181818;
  border: 1px solid #282828;
  padding: 2rem;
  grid-area: 1/8/9/17;
}

.themePreview {
  height: 100%;
  background-color: #181818;
  border: 1px solid #282828;
  grid-area: 1/17/9/21;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
}
.themePreview select {
  width: 100%;
  border-radius: 0px;
  background-color: #121212;
  border: 1px solid #282828;
  padding: 0.5rem;
}

#themeName {
  text-transform: capitalize;
}

.themeCont {
  height: 90%;
  width: 90%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  border: 1px solid #282828;
}

.themeCol1 {
  height: 100%;
  background-color: var(--bg-900);
  grid-area: 1/1/2/2;
  border-bottom: 1px solid #282828;
}

.themeCol2 {
  height: 100%;
  background-color: var(--bg-700);
  border-bottom: 1px solid #282828;
  grid-area: 2/1/3/2;
}

.themeCol3 {
  height: 100%;
  background-color: var(--color);
  border-bottom: 1px solid #282828;
  grid-area: 3/1/4/2;
}

.themeCol4 {
  height: 100%;
  background-color: var(--accent);
  grid-area: 4/1/5/2;
}

.moodInput {
  display: flex;
  flex-direction: column;
  height: fit-content;
  gap: 1rem;
  padding: 1rem;
  background-color: #181818;
  border: 1px solid #282828;
  grid-area: 9/8/16/17;
}

#moodInp {
  max-width: 100%;
  width: 100%;
  height: fit-content;
  top: 0;
  background-color: #121212;
  border-bottom: 1px solid #282828;
  border: 0;
}
#moodInp:focus {
  border: 0;
}

#moodPrev {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
}

#moodPrev img {
  -o-object-fit: contain;
  object-fit: contain;
  width: 1.375em;
  height: 1.375em;
  vertical-align: bottom;
  margin-inline: 0.25rem;
  display: inline-block;
}

.emojiCont {
  display: grid;
  place-items: center;
  position: relative;
  transition: opacity 200ms;
}

.emojiCont:hover::after {
  display: flex;
  top: calc(-100% - 1rem);
  opacity: 1;
  transition: opacity 200ms;
}

.emojiCont::after {
  position: absolute;
  display: none;
  content: attr(emoji_name);
  color: white;
  top: 0%;
  transition: opacity 200ms;
  opacity: 0;
  background-color: rgba(32, 34, 37, 0.8509803922);
  padding: 0.5rem;
  border-radius: 0.5rem;
}

.specialInterestSection {
  height: 60%;
  background-color: #181818;
  border: 1px solid #282828;
  grid-area: 9/17/16/21;
  display: flex;
  flex-direction: column;
  padding: 1rem;
}
.specialInterestSection input {
  width: 100%;
  border-radius: 0px;
  background-color: #121212;
  border: 1px solid #282828;
  padding: 0.5rem;
}

.submitSection {
  height: 70%;
  margin: auto;
  width: 100%;
  background-color: #181818;
  border: 1px solid #282828;
  grid-area: 16/8/21/21;
  display: flex;
  padding: 1rem;
  gap: 1rem;
}
.submitSection input,
.submitSection button {
  border-radius: 0px;
  background-color: #121212;
  border: 1px solid #282828;
  padding: 0.5rem;
  position: relative;
  height: fit-content;
  margin: auto;
}
.submitSection input {
  grid-area: 1/1/2/3;
  width: 100%;
}
.submitSection button {
  grid-area: 1/3/2/4;
  width: max-content;
  z-index: 999;
  cursor: pointer;
}

/*# sourceMappingURL=index.css.map */
