/* ----- SPECIAL COLORS ----- */

$warning: #ed4245;
$explicit: $warning;
$dnd: $warning;
$afk: #faa81a;
$questionable: $afk;
$online: #3ba55d;
$safe: $online;

/* ----- GENERAL COLORS ----- */

$neutral-900: #202225;
$neutral-800: #282b30;
$neutral-700: #36393f;
$neutral-600: #4f545c;
$neutral-500: #6c727c;
$neutral-400: #9fa1a5;
$neutral-300: #acadb0;
$neutral-200: #bdbec1;
$neutral-100: #d8d9dc;
$neutral-50: #edeef1;

$text-l: #000;
$text-d: #fff;

/* ----- DEFAULT ROLE COLORS ----- */
$teal-l: #1abc9c;
$teal-d: #11806a;

$green-l: #2ecc71;
$green-d: #1f8b4c;

$blue-l: #3498db;
$blue-d: #206694;

$purple-l: #9b59b6;
$purple-d: #71368a;

$rose-l: #e91e63;
$rose-d: #ad1457;

$yellow-l: #f1c40f;
$yellow-d: #c27c0e;

$orange-l: #e67e22;
$orange-d: #a84300;

$red-l: #e74c3c;
$red-d: #992d22;

$grey-l: #95a5a6;
$grey-d: #798686;

$slate-l: #607d8b;
$slate-d: #546e7a;

/* ----- BRAND COLORS ----- */

$blurple: #5865f2;
$b-green: #57f287;
$b-yellow: #fee75c;
$b-fuschia: #eb459e;
$b-red: #ed4245;
