/* ----- DARK MODE ----- */

$dm-bg-100: #7c6f64;
$dm-bg-200: #665c54;
$dm-bg-300: #504945;
$dm-bg-400: #3c3836;
$dm-bg-500: #32302f;
$dm-bg-600: #282828;
$dm-bg-700: #1d2021;

$dm-fg-100: #fbf1c7;
$dm-fg-200: #ebdbb2;
$dm-fg-300: #d5c4a1;
$dm-fg-400: #bdae93;
$dm-fg-500: #a89984;

$dm-grey-l: #a89984;
$dm-grey-d: #928374;

$dm-red-l: #fb4934;
$dm-red-d: #cc241d;

$dm-orange-l: #fe8019;
$dm-orange-d: #d65d0e;

$dm-yellow-l: #fabd2f;
$dm-yellow-d: #d79921;

$dm-green-l: #b8bb26;
$dm-green-d: #98971a;

$dm-aqua-l: #8ec07c;
$dm-aqua-d: #689d6a;

$dm-blue-l: #83a598;
$dm-blue-d: #458588;

$dm-purple-l: #d2869b;
$dm-purple-d: #b16286;

/* ----- LIGHT MODE ----- */

$lm-bg-100: #a89984;
$lm-bg-200: #bdae93;
$lm-bg-200: #d5c4a1;
$lm-bg-400: #eadab1;
$lm-bg-500: #f2e5bc;
$lm-bg-600: #fbf1c7;
$lm-bg-700: #f9f5d7;

$lm-fg-100: #7c6f64;
$lm-fg-200: #665c54;
$lm-fg-300: #504945;
$lm-fg-400: #3c3836;
$lm-fg-500: #282828;

$lm-grey-l: #928374;
$lm-grey-d: #7c6f64;

$lm-red-l: #cc241d;
$lm-red-d: #9d0006;

$lm-orange-l: #d65d0e;
$lm-orange-d: #af3a03;

$lm-yellow-l: #d79921;
$lm-yellow-d: #b57614;

$lm-green-l: #98971a;
$lm-green-d: #79740e;

$lm-aqua-l: #689d6a;
$lm-aqua-d: #427b58;

$lm-blue-l: #458588;
$lm-blue-d: #076678;

$lm-purple-l: #b16286;
$lm-purple-d: #8f3f71;
