/* Second Pallete from the MGS V: TPP emblem editor */

$stone-100: #9d9886;
$stone-200: #8c8774;
$stone-300: #6d6658;
$stone-400: #635c50;
$stone-500: #5f594d;
$stone-600: #575045;
$stone-700: #514a40;
$stone-800: #4c4336;

$red-100: #967e6a;
$red-200: #84594e;
$red-300: #633c31;
$red-400: #452c21;
$red-500: #322017;

$orange-100: #98876c;
$orange-200: #86674d;
$orange-300: #5f452f;
$orange-400: #403020;
$orange-500: #2d2217;

$yellow-100: #9d916b;
$yellow-200: #8d7848;
$yellow-300: #66522c;
$yellow-400: #45381f;
$yellow-500: #302616;

$green-100: #949772;
$green-200: #7a8058;
$green-300: #555838;
$green-400: #3d3a28;
$green-500: #2d2a1b;

$teal-100: #909b81;
$teal-200: #748973;
$teal-300: #546759;
$teal-400: #3f473e;
$teal-500: #2f332b;

$blue-100: #909984;
$blue-200: #6f7e75;
$blue-300: #515e5c;
$blue-400: #3c4341;
$blue-500: #31332f;

$purple-100: #979282;
$purple-200: #7a7272;
$purple-300: #5c5257;
$purple-400: #443c3d;
$purple-500: #352f2e;

$pink-100: #a59486;
$pink-200: #927579;
$pink-300: #72555e;
$pink-400: #533f42;
$pink-500: #3e3031;
