/* ----- SPECIAL COLORS ----- */

$warning: #cc5335;
$explicit: $warning;
$dnd: $warning;
$afk: #cca135;
$questionable: $afk;
$online: #3f783a;
$safe: $online;

/* ----- GENERAL COLORS ----- */

$neutral-900: #121212;
$neutral-800: #1f1f1f;
$neutral-700: #282828;
$neutral-600: #2f2f2f;
$neutral-500: #3a3a3a;
$neutral-400: #474747;
$neutral-300: #525252;
$neutral-200: #5a5a5a;
$neutral-100: #666666;
$neutral-50: #747474;

$text-l: #212121;
$text-d: #999791;

/* ----- DEFAULT ROLE COLORS ----- */
$teal-l: #1abc9c;
$teal-d: #11806a;

$green-l: #2ecc71;
$green-d: #1f8b4c;

$blue-l: #3498db;
$blue-d: #206694;

$purple-l: #9b59b6;
$purple-d: #71368a;

$rose-l: #e91e63;
$rose-d: #ad1457;

$yellow-l: #f1c40f;
$yellow-d: #c27c0e;

$orange-l: #e67e22;
$orange-d: #a84300;

$red-l: #e74c3c;
$red-d: #992d22;

$grey-l: #95a5a6;
$grey-d: #798686;

$slate-l: #607d8b;
$slate-d: #546e7a;
