/* ----- SPECIAL COLORS ----- */

$safe: #78bc78;
$questionable: #cece4e;
$explicit: #be6666;

/* ----- GENERAL COLORS ----- */
$neutral-900: #1d1920;
$neutral-800: #221d26;
$neutral-700: #372f3d;

$skygrad-900: #121223;
$skygrad-800: #15162a;
$skygrad-700: #17182e;
$skygrad-600: #191a32;
$skygrad-500: #1b1c35;
$skygrad-400: #1d1d39;
$skygrad-300: #1f1f3c;
$skygrad-200: #212140;
$skygrad-100: #232344;
$skygrad-50: #28284d;

$text-l: #524766;
$text-d: #fcfafc;

$link: #9c92f4;
$link-h: #c4bff7;

$accent: #d292f4;
