/* ----- SPECIAL COLORS ----- */

$safe: #77b255;
$questionable: #ffac33;
$explicit: #e1285c;

/* ----- GENERAL COLORS ----- */

$neutral-900: #141d26;
$neutral-800: #171f2a;
$neutral-700: #1b2836;
$neutral-600: #222e3c;
$neutral-500: #2c3e47;
$neutral-400: #2c3c52;
$neutral-300: #566e90;
$neutral-200: #a0bacb;
$neutral-100: #d4e3ed;

$text-l: black;
$text-d: white;

$link: #2ee0ef;
$link-h: #bffaff;

$accent: #2ee0ef;
